---
layout: page
# The layout for Tag page
---

{% include lang.html %}

<div id="page-tag">
  <h1>
    <i class="fa fa-tag fa-fw" aria-hidden="true"></i>
    {{ page.title }}
    <span class="lead">{{ page.posts | size }}</span>
  </h1>
  <ul class="content">
    {% for post in page.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
